<table class="table">
    <thead>
        <tr>
            <th>
               ID
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @ViewBag.DuLieu.ID
                </td>
                <td>
                    @ViewBag.DuLieu.Name
                </td>
            </tr>
    </tbody>
</table>